* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #fffffc;
  --color-secondary: #8FC2FF;
  --color-third: #ffbc93;
  --color-font: dimgray;
  --color-gray: dimgray;
  --color-white: #FFFFFF;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
  background-color: var(--color-primary);
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--color-font);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 10rem 5rem 10rem;
}

.h1 {
  color: var(--color-secondary);
}

.h2 {
  color: var(--color-third);
}

.section {
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec3 h3 {
  text-align: center;
  margin-top: 1rem;
}

.sec4 {
  display: none;
  transform: translateY(0) scaleY(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scaleY(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.controls {
  position: fixed;
  bottom: 3%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-font);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.7rem;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-white);
}

/* Header */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 75%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
}
.header-content .left-header .image {
  height: 80%;
  width: 70%;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  border-radius: var(--br-sm-2);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .p {
  margin: 1.5rem;
  line-height: 2rem;
}

.btn-con {
  margin: 1rem 0rem;
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 500;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0rem 1.5rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}

.main-title {
  text-align: center;
  margin-bottom: 2rem;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 800;
}

/*About*/
.about-con p {
  text-align: center;
  margin: 1rem 0rem;
  line-height: 1.5rem;
}

.about-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}
.about-icons .about-icon {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-third);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.7rem;
  box-shadow: var(--box-shadow-1);
}
.about-icons .about-icon i {
  font-size: 1rem;
  color: var(--color-white);
}

.exp-con h3 {
  margin: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.exp-con .exp-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0rem;
}
.exp-con .exp-items .exp-item {
  padding: 1rem;
  display: flex;
  background-color: white;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.exp-con .exp-items .exp-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.exp-con .exp-items .exp-item img {
  align-self: center;
  max-height: 9rem;
  max-width: 9rem;
  margin-right: 1rem;
  border-radius: var(--br-sm-2);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.exp-con .exp-items .exp-item .exp-dur {
  padding: 0.1rem 0.5rem;
  margin: 0.4rem;
  background-color: var(--color-secondary);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.exp-con .exp-items .exp-item .exp-text {
  line-height: 1.3rem;
}

/*Portfolios*/
#portfolio h3 {
  margin: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.cards .card {
  display: flex;
  justify-content: center;
}
.cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0rem;
}
.portfolios .port-item {
  padding: 1rem;
  display: flex;
  background-color: white;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.portfolios .port-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.portfolios .port-item img {
  align-self: center;
  max-height: 9rem;
  max-width: 9rem;
  margin-right: 1rem;
  border-radius: var(--br-sm-2);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.portfolios .port-item .port-lang {
  padding: 0.1rem 0.5rem;
  margin: 0.4rem;
  background-color: var(--color-secondary);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.portfolios .port-item .port-text {
  display: flex;
  flex-direction: column;
}
.portfolios .port-item .port-text .port-desc h4 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.portfolios .port-item .port-text .about-icon {
  cursor: pointer;
  background-color: var(--color-third);
  margin: 0.5rem;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
}
.portfolios .port-item .port-text .about-icon i {
  font-size: 1.5rem;
  color: var(--color-white);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/*Blogs*/
.blogs-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}
.blogs-con .blog {
  position: relative;
  background-color: white;
  border-radius: 15px 15px 0 0;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.blogs-con .blog:hover {
  transform: translateY(-5px);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.blogs-con .blog img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.blogs-con .blog .blog-text {
  margin-top: -7px;
  padding: 1rem;
  border-top: 8px solid var(--color-secondary);
}
.blogs-con .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

@media screen and (max-width: 1500px) {
  .exp-con {
    grid-template-columns: 1fr;
  }
  .exp-con h3 {
    margin: 0 0 1rem 0 !important;
  }
  .exp-con .exp-items {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) {
  section {
    padding: 3rem 5rem 5rem 5rem;
  }
  .about-con {
    grid-template-columns: 1fr;
  }
  .about-con p {
    padding: 0rem 2rem;
  }
  .exp-con h3 {
    margin: 0 0 1rem 0 !important;
  }
  .exp-con .exp-items {
    padding: 0rem 2rem !important;
    grid-template-columns: 1fr;
  }
  .exp-con .exp-items .exp-item {
    flex-direction: column;
  }
  .cards {
    padding: 0rem 2rem !important;
    grid-template-columns: 1fr;
  }
  .portfolios {
    padding: 0rem 2rem !important;
    grid-template-columns: 1fr;
  }
  .portfolios .port-item {
    flex-direction: column;
  }
  .portfolios .port-item .port-text {
    align-items: center;
  }
  .portfolios .port-item .port-text .port-desc {
    text-align: center;
  }
  .blogs-con {
    padding: 2rem !important;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .controls {
    justify-content: center;
  }
  .controls .control {
    margin: 0.75rem 0.3rem;
  }
  .section {
    padding: 0rem 0rem 6rem 0rem !important;
  }
  .section .main-title h2 {
    font-size: 2.5rem !important;
    padding-top: 2rem !important;
  }
  header {
    padding: 0;
    min-height: 100vh;
  }
  header .left-header .image {
    max-height: 50vh;
  }
  header .right-header {
    padding: 2rem !important;
    align-items: center;
  }
  header .right-header .name {
    font-size: 2.5rem !important;
  }
  header .right-header .btn-con {
    align-self: center;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .blogs-con {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */